








  <div style="background-image: url('assets/img/5-HOME_IMAGE.png');
  height: 800px;width:100%" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
    </div>
    <div class="col">
    <div class="text">
        <p style="font-family: Montez-Regular;font-size: 55px;">From the Menu</p>
        <p style="font-family: AltRenRetro;font-size: 55px;">EASTER BRUNCH</p>
         
        <div>
        <p style="font-family: AltRenRetro;font-size: 25px;">- ZUCCHINI & CORN CAKE SERVED</p>
        <p style="font-family:Gravity-Book;font-size:17" >With Somked Apple Yellow Chili Dip</p>
        
        <p style="font-family: AltRenRetro;font-size: 25px;">- ZUCCHINI & CORN CAKE SERVED</p>
        <p style="font-family:Gravity-Book;font-size:17">With Somked Apple Yellow Chili Dip</p>

        <p style="font-family: AltRenRetro;font-size: 25px;">- ZUCCHINI & CORN CAKE SERVED</p>
        <p style="font-family:Gravity-Book;font-size:17">With Somked Apple Yellow Chili Dip</p>
        
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
