  <div style=" background-image: url('assets/img/1-HOME_IMAGE.jpg');
  height: 800px;width:100%" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <!-- <div class="col-sm-12 col-md-3">
            <img class="logo" src="assets/img/loremipsum-logo.png" >
          </div> -->
          <!-- <div class="col-sm-12 col-md-8">
            <ul>
              <li><a href="#">CONTACT</a></li>
              <li><a href="#">GALLERY</a></li>
              <li><a href="#">BOOK A TABLE</a></li>
              <li><a href="#">MENU</a></li>
              <li><a href="#">ABOUT</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    
    <div class="div0">
      <img class="logo" src="assets/img/loremipsum-logo.png" >
      <ul>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">GALLERY</a></li>
        <li><a href="#">BOOK A TABLE</a></li>
        <li><a href="#">MENU</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
    </div>
    <div class="div1">
      <!-- <div class="div2"> -->
      <p>THERE IS NO SINCERER LOVE <br> </p>
       <p >THAN THE LOVE OF FOOD</p>
     </div>  
      <img  class="img1" src="assets/img/1-0-DIVIDER_ICON.png" >
    <!-- </div> -->
    <div class="div3">
      <p>OPENING HOURS</p>
    </div>
    <div class="div4">
      <p>Monday - Friday: 8:30 AM to 10:30 PM</p>
      <p>Weekends: 8:30 AM to 10:30 PM</p>
    </div>
    </div>
  </div>
  
  </div>
  

<router-outlet></router-outlet>

<app-page-one></app-page-one>
<app-page-two></app-page-two>
<app-page-three></app-page-three>
<app-page-four></app-page-four>
<app-page-five></app-page-five>
<app-page-six></app-page-six>
