

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="img1col">
      <img class="img1" src="assets/img/17-IMAGE.jpg" alt="Snow">
    </div></div>
    <div class="col-sm-3">
      <div class="resv">
        <p class="resrve">Reservation</p>
      <p style="font-family:'AltRenRetro';">Book your Table</p>
    </div>
    <div class="maindiv1">
      <img class="icon1" src="assets/img/11-NAME_ICON.png" aria-hidden="true">
      <mat-form-field class="form-field1">
        <input  matInput placeholder="YOUR NAME">
      </mat-form-field>
      <hr class="hralign1">
      </div>
      <div class="maindiv2">
      <img class="icon2" src="assets/img/12-MAIL_ICON.png" aria-hidden="true">
      <mat-form-field class="form-field2">
        <input  matInput placeholder="YOUR EMAIL">
      </mat-form-field>
      <hr class="hralign2">
      </div>

      <div class="maindiv3">
      <img class="icon3" src="assets/img/13-CALENDAR_ICON.png" aria-hidden="true">
      <mat-form-field class="form-field3">
        <input  matInput placeholder="mm/dd/yy">
      </mat-form-field>
      <hr class="hralign3">
      </div>
   
      <div class="maindiv4">
      <img class="icon4" src="assets/img/14-TIME_ICON.png" aria-hidden="true">
      <mat-form-field class="form-field4">
        <input  matInput placeholder="--:-- --">
      </mat-form-field>
      <hr class="hralign4">
      </div>

      <div class="maindiv5">
      <img class="icon5" src="assets/img/15-CLIENT_ICON.png" aria-hidden="true">
      <mat-form-field class="form-field5">
        <input  matInput placeholder="NO. OF PEOPLE">
      </mat-form-field>
      <hr class="hralign5">
      <div class="box">FIND A TABLE</div>
    </div>
   
    </div>
    <div class="col-sm-3">
      <div class="lastimg">
        <img class="imglast" src="assets/img/18-IMAGE.jpg" alt="Mountains">
      </div>
    </div>
  </div>


