


  <div style="position: relative;background-image: url('assets/img/2-HOME_IMAGE.jpg');">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <!-- <div class="row"> -->
            <!-- <div class="col-sm-12 col-md-3">
              <img class="logo" src="assets/img/loremipsum-logo.png" >
            </div> -->
            <!-- <div class="col-sm-12 col-md-8">
              <ul>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">GALLERY</a></li>
                <li><a href="#">BOOK A TABLE</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">ABOUT</a></li>
              </ul>
            </div> -->
          <!-- </div> -->
        <!-- </div>/ -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4" >
            <img class="top:10px;" src="assets/img/3-1-HOME_IMAGE.png" alt="Snow">
            <img class="top:10px;" src="assets/img/3-1-HOME_IMAGE.png" alt="Snow">
        </div>
        <div class="col-sm-4">
            <img class="imgSize" src="assets/img/2-0-HOME_IMAGE.png" alt="HOME" >
            <div class="centeredS">
            <p style="font-family: Montez-Regular;">Our Story</p>
              <p> Love For Food </p>
            </div>
            <div class="centeredI">
              <img src="assets/img/brown-dash.png">
            </div>
            <div class="centered">
              Cras justo odio, dapibus ac facilisis in, egestas eget
            quam. Donec id elit non mi porta gravida at eget metus.
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
              justo odio, dapibus ac facilisis in, egestas eget quam.
              Donec id elit non mi porta gravida at eget metus.
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
              justo odio, dapibus ac facilisis in, egestas eget
              quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id
              elit. Cras justo odio, dapibus ac facilisis in, egestas
              eget quam.</div>
        </div>
        <div class="col-sm-4" class="lastimgs">
          <img src="assets/img/3-2-HOME_IMAGE.png" alt="Mountains">
          <img src="assets/img/3-2-HOME_IMAGE.png" alt="Mountains">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

