


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

  * {
    box-sizing: border-box;
  }
.text {
    text-align: center;
    position: relative;
    top:107px;
    color: white;
    font-family: 'Montez-Regular';
    font-size:60px;
}

.img{
    text-align: center;
    top:193px;
    position: relative;
    padding-left: 280px;
}
  @media only screen and (max-width:500px) {
    .text {
        text-align: center;
        position: relative;
        top:280px;
        color: white;
        font-family: 'Montez-Regular';
        font-size:20px;
    }
    .bgrnd{
        background-size: cover;
        height: 100%;
    }
    .img{
        text-align: center;
        top:280px;
        position: relative;
        padding-left:0px;
        width: 100%;        
    }
    
}

  
  