

<div class="firstdiv" style="background-image: url('assets/img/16-FOOTER_IMAGE.jpg')">
  <div class="maindiv" style="text-align: center;position: relative;top:40px;color: white;">
    <div>
      <img class="logo" src="assets/img/loremipsum-logo.png" >
    </div>
    <div style="font-family: Gravity-Bold;font-size: 15px;">
      <p>10,Fifth A Block, 17th B Main, Koramangla 5th Block, Bangalore</p>
    </div>

    <div style="font-family: AltRenRetro;font-size: 26px;">
      <p>FOR RESERVATIONS - 88488 00000</p>
      <p>OPENING HOURS</p>
    </div>
  <div style="font-family: Gravity-Bold;font-size: 15px;">
    <p>Monday - Friday 8:30 AM to 10:30 PM</p>
    <br>
    <p>Weekends: 8:30 AM to 10:30 PM</p>
  </div>
      <div class="footer">
          <div class="row" style="font-family: AltRenRetro;">
          <div class="col-sm-1"> <p></p></div>
          <div class="col-sm-1" style="color:#6c5b43;font-size: 20px;"> <p>ACTIVE</p></div>
          <div class="col-sm-1" style="white-space: nowrap;color:#6c5b43;font-size: 20px;"> <p>LONGER NAV LINK</p></div>
          <div class="col-sm-1" style="color:#6c5b43;font-size: 20px;"> <p>LINK</p></div>
          <div class="col-sm-1" style="font-size: 20px;color:#707a92"> <p>DISABLED</p></div>
          <div class="col-sm-1"> <p></p></div>
          <div class="col-sm-1"> <p></p></div>
          <div class="col-sm-1" style="color:#6c5b43;font-size: 20px;"> <p>ACTIVE</p></div>
          <div class="col-sm-1" style="white-space: nowrap;color:#6c5b43;font-size: 20px;"> <p>LONGER NAV LINK</p></div>
          <div class="col-sm-1" style="color:#6c5b43;font-size: 20px;"> <p>LINK</p></div>
          <div class="col-sm-1" style="font-size: 20px;color:#707a92"> <p>DISABLED</p></div>
      </div>
        </div>
       <hr style="height: 2px;top: 64px;position: relative">  
       <div style="font-family: Gravity-Bold;font-size: 15px;top:108px;position: relative;">
        <p class="lastText">Copyright 2018. All Rights Reserved</p>
       </div>

  </div>

</div>
    

